:root {
    --text-color: rgba(0, 0, 0, 0.5);
    --bg-transparent:transparent;
    --text-align: center;
    --text-transform:uppercase;
    --letter-spacing: 0.5em;
    --border-solid: --border-solid;
}

body {
    font: 'Arial', sans-serif;
    color: var(--text-color);
    text-align: var(--text-align);
    text-transform: var(--text-transform);
    letter-spacing: var(--letter-spacing);
    top: 12%;
    background-image: linear-gradient(to right, #c9c5c5, #8e8779);
}

h1 {
    font: 600 3.5em 'Arial', sans-serif;
    color: var(--text-color);
    text-align: var(--text-align);
    text-transform: var(--text-transform);
    letter-spacing: var(--letter-spacing);
    width: 100%;
}

h3 {
    font: 800 1em 'Arial', sans-serif;
    color: var(--text-color);
    text-align: var(--text-align);
    text-transform: none;
    letter-spacing: 0.02em;
}

button {
    margin: 12px;
    background-color: var(--bg-transparent);
    border: var(--border-solid);
    border-radius: 14px 45px;
    width: 220px;
    height: 23px;
    opacity: 0.8;
    transition-duration: 0.4s;
}

button:hover {
    background-color: rgb(7, 3, 3);
    color: rgb(80, 136, 185);
    opacity: 0.4;
}

select {
    margin: 40px;
    width: 150px;
    height: 30px;
    background-color: var(--bg-transparent);
    border-color: var(--text-color);
    border-radius: 15px 50px;
    text-align: var(--text-align);
    border: var(--border-solid);
    opacity: 0.6;
}

input {
    background-color: var(--bg-transparent);
    border-color: var(--bg-transparent);
    height: 30px;
    width: 60px;
    opacity: 0.8;
}
